<section class="font-body-md line-height-body-5 margin-y-4 usa-prose">
  <h2 class="font-heading-lg">
    About this scan
  </h2>
  <p>Zed Attack Proxy (ZAP) is a free, open-source penetration testing tool. 
  </p>
  <hr />
  <p class="font-body-xs">This scan is a service of <a href="https://cloud.gov/pages" target="_blank"
      class="usa-link">cloud.gov
      Pages</a>, powered by ZAP. Check out the <a href="#" target="_blank" class="usa-link">documentation</a> for
    more information.
  </p>
</section>